/**
//  * Reset default Magento 2 pages bugs and default styles
//  */

/*mquery*/
@screen__xxs: 320px;
@screen__xs: 480px;
@screen__s: 640px;
@screen__m: 768px;
@screen__l: 1024px;
@screen__xl: 1440px;

@mq-xs: ~"only screen and (max-width:"(@screen__xs - 1)~")";
@mq-s: ~"only screen and (max-width:"(@screen__s - 1)~")";
@mq-m: ~"only screen and (max-width:"(@screen__m - 1)~")";
@mq-l: ~"only screen and (max-width:"(@screen__l - 1)~")";
@mq-xl: ~"only screen and (max-width:"(@screen__xl - 1)~")";

@mq-xs-min: ~"only screen and (min-width:@{screen__xs})";
@mq-s-min: ~"only screen and (min-width:@{screen__s})";
@mq-m-min: ~"only screen and (min-width:@{screen__m})";
@mq-l-min: ~"only screen and (min-width:@{screen__l})";
@mq-xl-min: ~"only screen and (min-width:@{screen__xl})";

& when (@media-common = true) {

        /*safari cart fix*/
        .minicart-wrapper .ui-dialog{
            position: absolute;
            top: 100%;
            right: 0;
        }
        /*ie fix css disabled*/
        .ie10 .page-wrapper, .ie11 .page-wrapper{
            height: auto!important;
        }



        /*checkout menu enabled*/
        .checkout-index-index .nav-sections{
                display: block;
            }
            .checkout-index-index .nav-toggle,
            .multishipping-checkout-login .nav-toggle{
                @media @mq-m{
                    display: block;
                }
            }
        

        /*checkout input wrapper width*/
            .opc-wrapper .form-login, 
            .opc-wrapper .form-shipping-address{
                max-width: 100%!important;
            }

        /*checkout email input*/
        .field .control._with-tooltip input{
            width: 100%;
            padding-right: 40px;
        }

        /*checkout tooltip*/
        .field-tooltip .field-tooltip-action{
            padding-right:10px;
        }


        .field-tooltip._active .field-tooltip-content{
            @media @mq-m{
               right: 45px;
               left: initial;
            }
        }
        .field-tooltip .field-tooltip-content:before, 
        .field-tooltip .field-tooltip-content:after{
            @media @mq-m{
                transform: rotate(180deg);
                right: -21px;
                left: initial;
            }        
        }


        /*discount form*/
        .opc-wrapper {
            .form-discount{
            max-width: 100%;
                input{
                    float: left;
                    width: 80%;
                }
            }
        }

        /*empry cart page links*/
        .cart-empty{
            a{
                color:@text__color;
                font-weight: 600;
            }
        }
        /*cart page price and total color*/
        .cart.table-wrapper .col.price .price-excluding-tax .price,
        .cart.table-wrapper .col.subtotal .price-excluding-tax{
            color:@text__color;
        }
        /*sidebar link*/
        .action.multicheckout span{
            color:@text__color;
        }

        .cart-discount .actions-toolbar .action.primary{
            min-height: 32px;
        }
        /*review form in product page*/
        .review-form{
            max-width: 100%
        }
        /*login link in ckeckout and popup*/
        .authentication-wrapper{
            margin-top: 37px;
            button.action{
                color:#000;
            }
            .action.action-remind{
                color:#000;
            }
        }
        .opc-progress-bar{
            margin-top:20px!important;
        }

        /*checkout sidebar ipad*/
        .minicart-items .product-item-details{
            @media @mq-l{
                padding-left:0;
            }
        }
        /*progress bar active color*/
        .opc-progress-bar-item._active > span::before,
        .opc-progress-bar-item._active::before{
            background: @all-active-color!important;
        }
        /*double cart in checkout*/
        .opc-estimated-wrapper{
            .minicart-wrapper{
                display: none;
            }
        }
        .action-towishlist span{
            color:@text__color;;
        }
        .checkout-payment-method .billing-address-form{
            width: 100%!important;
            .action-update{
                margin-top:10px;
            }
        }
        /*success*/
        .checkout-success{
            margin-top: 20px;
        }

        /*cart radio buttons*/
        .cart-summary .block .item-options .field .radio{
            margin-top: 5px;
        }
}